@import url('https://fonts.googleapis.com/css2?family=Inter:display=swap');

.App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#link__section {
    width: 100%;
    margin: 1rem auto;
}

#link__section a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #101828;
    background-color: #EAECF0;
    margin: 1.5rem auto;
    width: 80%;
    padding: 1.8rem;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.2rem;
    font-weight: 500;
}

#social__secttion {
    width: 100%;
}

#social__section img {
    margin: auto 0.5rem;
    margin-bottom: 5rem;
}

#slack {
    display: none;
}