
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    position: relative;
}
#profile__section img {
    cursor: pointer;
}

#profile__section #twitter {
    font-size: 1.4rem;
    font-weight: 700;
}


#link__section {
    width: 100%;
    margin: 1rem auto;
}

#link__section a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #101828;
    background-color: #EAECF0;
    margin: 1.5rem auto;
    width: 75%;
    padding: 1.7rem;
    border-radius: 8px;
    font-weight: 550;
    font-size: 1.2rem;
    font-weight: 00;
    border: 1px solid #EAECF0
}

#link__section a:hover {
    background-color: #D0D5DD;
}

#social__secttion {
    width: 100%;
}

#social__section img {
    margin: auto 0.8rem;
    margin-bottom: 8rem;
}

footer {
    width: 85%;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #EAECF0;
}

#slack {
    display: none;
}

/*share button */
.share__btn {
    position:  absolute;
    right: 23%;
    top: -2%;
    cursor: pointer;
}

/* media query */
@media screen and (max-width: 992px) {
    footer {
        display: block;
        width: 90%;
    }

    footer img {
        width: 50%;
        margin: 0.8rem auto;
        display: block;
        float: left;
        clear: left;
    }
}